{% extends "main.html" %}
{% load static %}
{% load custom_tags %}
{% block title %}upadte Courses{% endblock %}
{% block body %}

<div class="container d-flex flex-row mt-5">
  <div class="card mt-3 m-auto p-3">
    <form method="POST" enctype="multipart/form-data" action="" style="margin-top: 1.3em;">
      <!-- {% for course in courseform %}
        {{ course }}
        <hr>
      {% endfor %} -->
        <p><strong>Add Courses</strong></p>
        {{ updatecourses.as_p }}
        <p><strong>Add Tags</strong></p>
        {{ updatetags.as_p }}
        <p><strong>Add Pre</strong></p>
        {{ updatepre.as_p }}
        <p><strong>Add learn</strong></p>
        {{ updatelearn.as_p }}
        <p><strong>Add Video</strong></p>
        <!-- {{ addvideos.as_p }} -->
        {{formset.management_form}}
        {%for form in formset%}
          {{form}}
          <hr>
        {%endfor%}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        {{updatecourses.error}}
        {{updatetags.error}}
        <!-- {{updatevideos.error}} -->
        {{updatepre.error}}
        {{updatelearn.error}}
      </form>
</div>
</div>

{%endblock body %}